.photos {
  min-width: 100%;
  max-width: 13vw;
  min-height: 15rem;
  max-height: 34vh;
}
.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1507011586715-8afbf551622b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.card {
  min-height: 60vh !important;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-weight: 600;
}

.allCamps {
  display: flex;
  justify-content: center;
}

.row img {
  width: 100%;
  min-height: 15rem;
}
#spinner {
  display: flex;
  justify-content: center;
}
